<%-include ('../layouts/adminHeader.ejs') %>
        <div class="screen-overlay"></div>
       
            
            <%-include ('../layouts/adminSideBar.ejs') %>
        </aside>
        <main class="main-wrap">
            <header class="main-header navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <div class="head-title">
                        <div class="left">
                            <h1>Categories</h1>
                        </div>
                    </div>
            
                    <div class="col-nav ml-auto">
                        <button class="btn btn-icon btn-mobile" data-trigger="#offcanvas_aside">
                            <i class="material-icons md-apps"></i>
                        </button>
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link btn-icon" href="#">
                                    <i class="material-icons md-notifications animation-shake"></i>
                                    <span class="badge rounded-pill">3</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn-icon darkmode" href="#">
                                    <i class="material-icons md-nights_stay"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="requestfullscreen nav-link btn-icon">
                                    <i class="material-icons md-cast"></i>
                                </a>
                            </li>
                            <li class="dropdown nav-item">
                                <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage"
                                    aria-expanded="false"><i class="material-icons md-/public"></i></a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                                    <a class="dropdown-item text-brand" href="#"><img
                                            src="/admin/imgs/theme/flag-us.png" alt="English" />English</a>
                                    <a class="dropdown-item" href="#"><img src="/admin/imgs/theme/flag-fr.png"
                                            alt="Français" />Français</a>
                                    <a class="dropdown-item" href="#"><img src="/admin/imgs/theme/flag-jp.png"
                                            alt="Français" />日本語</a>
                                    <a class="dropdown-item" href="#"><img src="/admin/imgs/theme/flag-cn.png"
                                            alt="Français" />中国人</a>
                                </div>
                            </li>
                            <li class="dropdown nav-item">
                                <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                                    aria-expanded="false"> <img class="img-xs rounded-circle"
                                        src="/admin/imgs/people/avatar-2.png" alt="User" /></a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                                    <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit
                                        Profile</a>
                                    <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account
                                        Settings</a>
                                    <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                                    <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                                    <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item text-danger" href="#"><i
                                            class="material-icons md-exit_to_app"></i>Logout</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </header>

            

            <section class="content-main">
                <div class="container-fluid">
                    <div class="card mt-4">
                        <div class="card-header">
                            <h3>Add Category</h3>
                        </div>
                        <!-- <% if (typeof message !=='undefined' ) { %>
                            <p class="m-3" id="message" style="color: rgb(255, 0, 0);">
                                <%= message %>
                            </p> -->
                            <script>
                                // Set a timer to remove the message after 5000 milliseconds (5 seconds)
                                setTimeout(function () {
                                    var messageElement = document.getElementById('message');
                                    if (messageElement) {
                                        messageElement.style.display = 'none';
                                    }
                                }, 3500);
                            </script>
                            <!-- <% } %> -->
                        <div class="card-body">
                            <!-- Category Form -->
                            <form action="/admin/addcategory" method="post" enctype="multipart/form-data">
                                <!-- Category Name -->
                                <div class="form-group">
                                    <label for="category">Category:</label>
                                    <input type="text" class="form-control" id="category" name="category">
                                </div>
            
                                <!-- Category  -->
                                <div class="form-group">
                                    <label for="subcategory">discription:</label>
                                    <input type="text" class="form-control" id="subcategory" name="subcategory" >
                                </div>
                                <div class="form-group">
                                    <label for="image">Add image</label><br>
                                    <input class="form-control" type="file" id="image" name="imagepath" accept="image/*"><br>
                                </div>
                                <div  style="margin-top: 1.2rem;">
                                    <button type="submit" class="btn btn-primary" >Add Category </button>
                                    <a href="/admin/category" type="submit" class="btn btn-primary">Back</a>
                                </div>
                            </form>
                            <!-- End Category Form -->
                        </div>
                    </div>
                </div>
            </section>
            
            <!-- content-main end// -->
            <%-include ('../layouts/adminFooter.ejs') %>
