<footer class="main-footer font-xs">
    <div class="row pb-30 pt-15">
        <div class="col-sm-6">
            <script>
                document.write(new Date().getFullYear());
            </script>
            &copy; ElevateGizmo.
        </div>
        <div class="col-sm-6">
            <div class="text-sm-end">All rights reserved</div>
        </div>
    </div>
</footer>
</main>
<script src="/admin/js/vendors/jquery-3.6.0.min.js"></script>
<script src="/admin/js/vendors/bootstrap.bundle.min.js"></script>
<script src="/admin/js/vendors/select2.min.js"></script>
<script src="/admin/js/vendors/perfect-scrollbar.js"></script>
<script src="/admin/js/vendors/jquery.fullscreen.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8"
src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.js"></script>
<script>
$(document).ready(function () {
  $('#tablePagination').DataTable();
});
</script>



<script>
document.querySelectorAll('.block-user, .unblock-user').forEach(function (element) {
console.log(element);
element.addEventListener('click', function (event) {
event.preventDefault();

const userId = element.getAttribute('data-user-id');
const action = element.classList.contains('block-user') ? 'block' : 'unblock';

fetch(`/admin/blockcategory/${userId}`, {
    method: 'PATCH',
})
    .then(response => response.json())
    .then(data => {
        if (data.block === true) {
            //updating the button text and color
            element.querySelector('span').classList.toggle('alert-success');
            element.querySelector('span').classList.toggle('alert-warning');
            element.querySelector('span').innerText = action === 'block' ? 'unblock' : 'block';

            // Replace button class
            element.classList.remove(action === 'block' ? 'block-user' : 'unblock-user');
            element.classList.add(action === 'block' ? 'unblock-user' : 'block-user');
        }
    }).catch((error) => {
        console.log(error.message);
    })

});
});
</script>


<!-- Main Script -->
<script src="/admin/js/main.js?v=1.1" type="text/javascript"></script>
</body>
</html>