<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a href="index" class="brand-wrap">
            <img src="/user/image/loader_logo.png" alt="ElevateGizmo" style="height: 30px;width: 30px;">
            
        </a>
        <h3>Dashboard</h3>
        <div>
            <button class="btn btn-icon btn-aside-minimize"><i class="text-muted material-icons md-menu_open"></i></button>
        </div>
    </div>
<nav>
    <ul class="menu-aside ">
        <li class="menu-item ">
            <a class="menu-link" href="dashboard">
                <i class="icon material-icons md-home"></i>
                <span class="text">Dashboard</span>
            </a>
        </li>

        <li class="menu-item">
            <a class="menu-link" href="order">
                <i class="icon material-icons md-shopping_cart"></i>
                <span class="text">Order</span>
            </a>
        </li>
        
        

        <li class="menu-item ">
            <a class="menu-link" href="product">
                <i class="icon material-icons md-shopping_bag"></i>
                <span class="text">Products</span>
            </a>
        </li>

        <li class="menu-item ">
            <a class="menu-link" href="category">
                <i class="icon material-icons md-category"></i>
                <span class="text">Categories</span>
            </a>
        </li>

        <li class="menu-item">
            <a class="menu-link" href="users">
                <i class="icon material-icons md-perm_identity"></i>
                <span class="text">Users</span>
            </a>
        </li>

        <li class="menu-item">
            <a class="menu-link " href="coupon">
                <i class="icon material-icons md-local_offer"></i>
                <span class="text">Coupons</span>
            </a>
        </li>

        <li class="menu-item">
            <a class="menu-link" href="banner">
                <i class="icon material-icons md-photo"></i>
                <span class="text">Banner</span>
            </a>
        </li>
        

        <li class="menu-item mt-auto">
            <a class="menu-link" href="/admin/logout">
                <i class="icon material-icons md-exit_to_app"></i>
                <span class="text">Logout</span>
            </a>
        </li>
    </ul>
</nav>
