body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    overflow: hidden;
    max-width: 400px;
    width: 100%;
}

h4 {
    color: #333;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 24px;
}

input[type="email"],
input[type="password"] {
    width: calc(100% - 30px);
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-sizing: border-box;
    background-color: #f8f9fa;
    outline: none;
}

.input-icon {
    position: absolute;
    top: 50%;
    left: 18px;
    transform: translateY(-50%);
    color: #ccc;
}

.input-icon i {
    font-size: 12px;
}

.input-field {
    position: relative;
}

.forgot-password {
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.forgot-password:hover {
    text-decoration: underline;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 15px 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    margin-top: 5px;
}
