<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/user/image/loader_logo.png">
    <title>ElevateGizmo</title>
    <link rel="stylesheet" href="/user/css/forget.css">
</head>
<body>
    <div class="container">
        <h4></h4>
        <form class="forget-form" action="/forget" method="post">
            <input type="email" name="email" placeholder="Enter your Email" required>
            

            <button type="submit" class="btn">send</button>
        </form>
    </div>
</body>
</html>