<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ElevateGizmo</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            background-color: #fff;
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            text-align: center;
            max-width: 400px;
            width: 100%;
        }

        h4 {
            color: #333;
            margin-bottom: 30px;
            font-weight: bold;
            font-size: 24px;
        }

        input[type="password"] {
            width: calc(100% - 30px);
            padding: 15px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 25px;
            box-sizing: border-box;
            background-color: #f8f9fa;
            outline: none;
        }

        .btn {
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 25px;
            padding: 15px 30px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            width: 100%;
            margin-top: 20px;
            font-size: 16px;
            font-weight: bold;
        }

        .btn:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <div class="container">
        <h4>Reset Password</h4>
        <form class="forget-form" action="/forget-password" method="post">
            <input type="password" name="password" placeholder="Create New Password" required><br>
            <input type="hidden" name="user_id" value="<%= user_id %>">
            <label for="password" class="error" id="passwordError" style="color: red;"></label>
            <button type="submit" class="btn">Reset Password</button>
        </form>
    </div>
    <script>
    // document.getElementById("password").addEventListener("blur", function() {
    //     validateField("password", /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$/, "passwordError", "Password must contain at least 8 characters, including one uppercase letter, one lowercase letter, and one number");
    // });
    
    </script>
</body>
</html>
