<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/user/image/loader_logo.png">
    <title>ElevateGizmo</title>
    <link rel="stylesheet" href="/user/css/login.css">
</head>
<body>
    <div id="test-popup1" class="white-popup lr-popup mfp-hide text-center">
        <h4>Login</h4>
        <form class="subscribe-popup-form" method="post" action="/login" onsubmit="return validateLoginForm()">
            <input name="email" id="email" required type="email" placeholder="Enter Your Email" value="Muhammedfais472@gmail.com">
            <input name="password" id="password" required type="password" placeholder="Enter Your Password" value="Fayiz@123">
            <label class="error" id="loginError" style="color: red;"></label>
            <div class="form-check text-left">
                <a href="/forget" class="forgot-password float-right">Forgot Password?</a>
            </div>
            <button class="btn btn-primary border-0" title="Login" type="submit">Login</button>
        </form>
        <h6>Don't have an account?</h6>
        <a href="/registration" class="sign-up open-popup-link">Click here to Sign up</a>
    </div>

    <script>
        document.getElementById("email").addEventListener("blur", function() {
            validateField("email", /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/, "loginError", "Invalid email or password");
        });

        document.getElementById("password").addEventListener("blur", function() {
            validateField("password", /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$/, "loginError","Invalid email or password" );
        });

        function validateField(fieldId, regex, errorSpanId, errorMessage) {
            var fieldValue = document.getElementById(fieldId).value;
            var errorSpan = document.getElementById(errorSpanId);
            if (!regex.test(fieldValue)) {
                errorSpan.innerHTML = errorMessage;
            } else {
                errorSpan.innerHTML = "";
            }
        }

        function validateLoginForm() {
            var email = document.getElementById("email").value;
            var password = document.getElementById("password").value;

            if (!email || !password) {
                document.getElementById("loginError").innerHTML = "Please fill out both email and password fields.";
                return false; // Prevent form submission
            }

            // else{
                
            //     document.getElementById("loginError").innerHTML = " Email or password is incorrect";
            //     return false;
            // }

            return true; // Allow form submission
        }
    </script>
</body>
</html>
