<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/user/css/otp.css">
</head>
<body>
    <div class="white-popup">
        <h4>Enter OTP</h4>
        <form class="subscribe-popup-form" action="/otpVerification" method="post">
            <input type="text" id="otp" name="otp" placeholder="Enter OTP" required>
            

            <button type="submit" class="btn">Verify</button>
        </form>
    </div>
</body>
</html>